<!DOCTYPE html>
<html>
    <head>
        <title> Jovian Careers</title>
    </head>
    <body>
        <!-- <p> Hello there, You'll learn about the job opening at Jovian here.</p> -->
        <h1> Jovian Careers</h1>
        <img src=" http://127.0.0.1:8000/static/home_image.jpg" height="300" alt="Jovian Careers">
        <h2> About Jovian</h2>
       <p> Lorem ipsum dolor sit amet. Non quasi aliquid ut dolore cumque ea 
       ipsam repudiandae ut molestias voluptas ut dolor facere quo placeat facere. 
       Eum laboriosam perspiciatis quo itaque quasi in suscipit vero aut voluptas 
       expedita. Quo fugit beatae aut placeat numquam ut natus fugiat. 
        Sit dicta voluptate aut placeat velit quo facilis maxime ex sequi tempora 
        hic consectetur impedit et veniam quibusdam non repellat modi. Et quaerat 
        laboriosam qui dolorem sapiente quo adipisci eveniet quo ducimus pariatur. 
        Et tempore voluptatibus ea doloribus dolore et molestiae expedita ea porro
         similique.</p>
         <h2>Open positions</h2>
         <h3> TODO</h3>
         <button> Contact Us</button>
    </body>
</html>